extends layout

block content
    .main-content
        .container
            h1 Dashboard
            p Welcome to the dashboard
            ul.nav.justify-content-center
                li.nav-item
                    a.nav-link(href='/projects') Projects Overview
                li.nav-item
                    a.nav-link(href='/billingSummary') Billing Summary