extends layout 

block content
    .main-content
        .container

            h1= "Miller Cyber Technologies Billing Suite"
            p Login Below

            form(method='post', action='/users/login')
                p
                    label(for='username') Username:
                    input(type='text', name='username', id='username')
                p
                    label(for='password') Password:
                    input(type='password', name='password', id='password')
                p
                    input(type='submit', value='Login')

            a(href='/reqacc') Request Access to the Billing Suite