/* public/stylesheets/main.css */
body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.main-content {
  margin: 0 auto;
  text-align: center; /* Center the content horizontally */
  margin-top: 50px; /* Adjust margin-top as needed */
  /* Border with border shadow */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 1000px;
}

/* For projects page */
.project-row {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.project-row p {
  margin: 0;
  font-size: 14px;
}

.project-row p span {
  font-weight: bold;
}

.btn-group-vertical .btn {
  width: 100%;
}

.project-row .row {
  margin-bottom: 10px;
}

.project-info {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

.project-comments {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

.comment {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 1rem;
}

.comment:last-child {
  border-bottom: none;
}


/* Mobile-friendly styles */
@media (max-width: 768px) {
  .container {
    max-width: 90%; /* Adjust container width for smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .main-content {
    margin-top: 20px; /* Adjust margin-top for smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
    max-width: 100%; /* Full width on smaller screens */
  }
}